div.formWrapper-1mpvn {
  box-sizing: border-box;
  color: #000;
  font-family: ProximaRegular, sans-serif;
  line-height: 18.4px;
  margin: auto;
  max-width: 384px;
  min-width: 320px;
  padding-top: 40px;
  width: 100%;
}

p.typography-marketing-display-s.formTitle-1RxKh {
  box-sizing: border-box;
  color: #000;
  font-family: FugueRegular;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 40px;
  padding: 0;
  text-align: center;
}

@media (min-width: 720px) {
  p.typography-marketing-display-s.formTitle-1RxKh {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 541px) {
  p.typography-marketing-display-s.formTitle-1RxKh {
    font-size: 24px;
    line-height: 32px;
  }
}

div.formWrapper-1mpvn form {
  box-sizing: border-box;
  color: #000;
  font-family: ProximaRegular, sans-serif;
  line-height: 18.4px;
}

div.socialButtonsWrapper-17B1p {
  box-sizing: border-box;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  font-family: ProximaRegular, sans-serif;
  justify-content: space-between;
  line-height: 18.4px;
}

button.sc-gsTCUz.bhdLno.sc-dlfnbm.fpYcsI.button-7L2AO {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  appearance: button;
  background-color: transparent;
  background-position: 0 0;
  border-radius: 8px;
  border-style: none;
  box-shadow: #e8e8ea 0 0 0 2px inset;
  box-sizing: border-box;
  color: #121316;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 0;
  font-family: ProximaSemiBold;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 12px 24px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.3s;
  transition-property: color, background-color, box-shadow;
  transition-timing-function: ease, ease, ease;
  width: 120px;
}

button.sc-gsTCUz.bhdLno.sc-dlfnbm.fpYcsI.button-7L2AO:hover {
  background-color: #e8e8ea;
}

button.sc-gsTCUz.bhdLno.sc-dlfnbm.fpYcsI.button-7L2AO:active {
  background-color: #e8e8ea;
}

button.sc-gsTCUz.bhdLno.sc-dlfnbm.fpYcsI.button-7L2AO:disabled {
  color: #a9acb2;
}

button.sc-gsTCUz.bhdLno.sc-dlfnbm.fpYcsI.button-7L2AO:disabled:hover {
  cursor: not-allowed;
}

button.sc-gsTCUz.bhdLno.sc-dlfnbm.fpYcsI.button-7L2AO:not(:first-child) {
  margin-left: 12px;
}

button.sc-gsTCUz.bhdLno.sc-dlfnbm.fpYcsI.button-7L2AO:last-child {
  margin-top: 16px;
}

@media screen and (max-width: 420px) {
  button.sc-gsTCUz.bhdLno.sc-dlfnbm.fpYcsI.button-7L2AO {
    width: 104px;
  }
}

div.sc-hKgILt.chrFRV {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  box-sizing: border-box;
  color: #121316;
  cursor: pointer;
  display: inline-flex;
  font-family: ProximaSemiBold;
  justify-content: center;
  line-height: 24px;
  width: 10px;
  opacity: 1;
  pointer-events: none;
  text-align: center;
  text-transform: capitalize;
  transition: opacity 0.1s;
}

div.formWrapper-1mpvn div.sc-hKgILt.chrFRV i {
  box-sizing: border-box;
  color: #121316;
  cursor: pointer;
  font-family: ProximaSemiBold;
  font-size: 0;
  font-style: italic;
  line-height: normal;
  margin-right: 8px;
  pointer-events: none;
  text-align: center;
  text-transform: capitalize;
}

div.svgWrapper-2-4f9.icon-CTQJe {
  box-sizing: border-box;
  color: #121316;
  cursor: pointer;
  display: inline-block;
  font-family: ProximaSemiBold;
  font-size: 0;
  font-style: italic;
  pointer-events: none;
  text-align: center;
  text-transform: capitalize;
  transition-duration: 0.3s;
  transition-property: color, transform;
  width: 16px;
}

div.svgWrapper-2-4f9.icon-CTQJe div {
  box-sizing: border-box;
  color: #121316;
  cursor: pointer;
  display: flex;
  font-family: ProximaSemiBold;
  font-size: 0;
  font-style: italic;
  pointer-events: none;
  text-align: center;
  text-transform: capitalize;
}

svg.injected-svg {
  box-sizing: border-box;
  color: #121316;
  cursor: pointer;
  display: inline-block;
  font-family: ProximaSemiBold;
  font-size: 0;
  font-style: italic;
  pointer-events: none;
  text-align: center;
  text-transform: capitalize;
}

svg.injected-svg:not(:root) {
  overflow: hidden;
}

div.formWrapper-1mpvn svg.injected-svg path {
  box-sizing: border-box;
  color: #121316;
  cursor: pointer;
  font-family: ProximaSemiBold;
  font-size: 0;
  font-style: italic;
  pointer-events: none;
  text-align: center;
  text-transform: capitalize;
}

p.typography-body-l.formSeparator-2y42r {
  box-sizing: border-box;
  color: #91949c;
  font-family: ProximaRegular;
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0;
  padding: 0;
  text-align: center;
}

@media (min-width: 720px) {
  p.typography-body-l.formSeparator-2y42r {
    margin: 12px 0;
  }
}

@media (min-width: 1280px) {
  p.typography-body-l.formSeparator-2y42r {
    margin: 16px 0;
  }
}

div.inputsWrapper-2uewO {
  box-sizing: border-box;
  color: #000;
  font-family: ProximaRegular, sans-serif;
  line-height: 18.4px;
}

div.inputsWrapper-2uewO:not(.noMargin-1yVvz) {
  margin-top: 32px;
  margin-bottom: 32px;
}

div.wrapper-3l4He {
  box-sizing: border-box;
  color: #000;
  font-family: ProximaRegular, sans-serif;
  line-height: 18.4px;
}

div.wrapper-3l4He:not(:last-child):not(.noMargin-292Kh) {
  margin-bottom: 16px;
}

@media screen and (min-width: 1280px) {
  div.wrapper-3l4He:not(:last-child):not(.noMargin-292Kh) {
    margin-bottom: 24px;
  }
}

div.inputWrapper-vCjKE {
  box-sizing: border-box;
  color: #000;
  font-family: ProximaRegular, sans-serif;
  line-height: 18.4px;
  position: relative;
}

input.typography-body-m.input-1tR4J {
  appearance: none;
  border: 2px solid #e8e8ea;
  border-radius: 8px;
  box-sizing: border-box;
  color: #121216;
  cursor: text;
  filter: none;
  font-family: ProximaRegular;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 12px 16px 0;
  transition: all 0.3s;
  width: 100%;
}

input.typography-body-m.input-1tR4J:-webkit-autofill {
  background-color: transparent;
  transition: background-color 5000s ease-in-out;
}

input.typography-body-m.input-1tR4J:-webkit-autofill:focus {
  background-color: transparent;
  transition: background-color 5000s ease-in-out;
}

input.typography-body-m.input-1tR4J:-webkit-autofill:hover {
  background-color: transparent;
  transition: background-color 5000s ease-in-out;
}

input.typography-body-m.input-1tR4J:hover {
  border-color: #d6d7d9;
}

input.typography-body-m.input-1tR4J:focus {
  border-color: #2153cc;
}

@media screen and (min-width: 1280px) {
  input.typography-body-m.input-1tR4J {
    font-size: 16px;
    height: 48px;
    line-height: 24px;
    padding-top: 18px;
  }
}

span.typography-body-m.label-tFRww {
  box-sizing: border-box;
  color: #91949c;
  font-family: ProximaRegular;
  font-size: 14px;
  left: 16px;
  line-height: 20px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
  transition: all 0.3s;
}

@media screen and (min-width: 1280px) {
  span.typography-body-m.label-tFRww {
    font-size: 16px;
    line-height: 24px;
  }
}

input.typography-body-m.input-1tR4J.inputWithPadding-2Aebd {
  appearance: none;
  border: 2px solid #e8e8ea;
  border-radius: 8px;
  box-sizing: border-box;
  color: #121216;
  cursor: text;
  filter: none;
  font-family: ProximaRegular;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 12px 38px 0 16px;
  transition: all 0.3s;
  width: 100%;
}

input.typography-body-m.input-1tR4J.inputWithPadding-2Aebd:-webkit-autofill {
  background-color: transparent;
  transition: background-color 5000s ease-in-out;
}

input.typography-body-m.input-1tR4J.inputWithPadding-2Aebd:-webkit-autofill:focus {
  background-color: transparent;
  transition: background-color 5000s ease-in-out;
}

input.typography-body-m.input-1tR4J.inputWithPadding-2Aebd:-webkit-autofill:hover {
  background-color: transparent;
  transition: background-color 5000s ease-in-out;
}

input.typography-body-m.input-1tR4J.inputWithPadding-2Aebd:hover {
  border-color: #d6d7d9;
}

input.typography-body-m.input-1tR4J.inputWithPadding-2Aebd:focus {
  border-color: #2153cc;
}

@media screen and (min-width: 1280px) {
  input.typography-body-m.input-1tR4J.inputWithPadding-2Aebd {
    font-size: 16px;
    height: 48px;
    line-height: 24px;
    padding-top: 18px;
  }
}

span.gradient-3JfIE {
  background-color: initial;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.45) 9%,
    rgba(255, 255, 255, 0.85)
  );
  box-sizing: border-box;
  color: #000;
  font-family: ProximaRegular, sans-serif;
  height: calc(100% - 4px);
  line-height: 18.4px;
  position: absolute;
  right: 38px;
  top: 2px;
  width: 16px;
}

button.button-7s7pE {
  appearance: button;
  background-color: initial;
  background-position: 0 0;
  border-style: none;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  fill: #e8e8ea;
  font-family: ProximaRegular;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: none;
  top: 0;
  transition: all 0.3s;
}

button.button-7s7pE:hover {
  fill: #d6d7d9;
}

div.buttonInner-3v8fJ {
  align-items: center;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: flex;
  font-family: ProximaRegular;
  height: 40px;
  justify-content: flex-start;
  line-height: 18.4px;
  padding: 0 16px 0 8px;
  pointer-events: none;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  div.buttonInner-3v8fJ {
    height: 48px;
  }
}

div.formWrapper-1mpvn div.buttonInner-3v8fJ svg {
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: ProximaRegular;
  line-height: 18.4px;
  pointer-events: none;
  text-align: center;
}

div.formWrapper-1mpvn div.buttonInner-3v8fJ svg:not(:root) {
  overflow: hidden;
}

div.formWrapper-1mpvn svg path {
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  font-family: ProximaRegular;
  line-height: 18.4px;
  pointer-events: none;
  text-align: center;
}

div.typography-body-m.checkboxesWrapper-3M-fq.hidden-2lk7c {
  box-sizing: border-box;
  color: #000;
  display: none;
  font-family: ProximaRegular;
  font-size: 14px;
  line-height: 20px;
  margin: 16px 0;
}

@media (min-width: 720px) {
  div.typography-body-m.checkboxesWrapper-3M-fq.hidden-2lk7c {
    margin: 24px 0;
  }
}

@media (min-width: 1280px) {
  div.typography-body-m.checkboxesWrapper-3M-fq.hidden-2lk7c {
    margin: 32px 0;
  }
}

div.typography-body-m.wrapper-3QBCa {
  box-sizing: border-box;
  color: #000;
  font-family: ProximaRegular;
  font-size: 14px;
  line-height: 20px;
}

div.typography-body-m.wrapper-3QBCa:not(:last-child) {
  margin-bottom: 12px;
}

@media screen and (min-width: 720px) {
  div.typography-body-m.wrapper-3QBCa:not(:last-child) {
    margin-bottom: 16px;
  }
}

div.typography-body-m.wrapper-3QBCa div {
  box-sizing: border-box;
  color: #000;
  font-family: ProximaRegular;
  font-size: 14px;
  line-height: 20px;
}

input#mailSubscription.checkbox-2Bf3k {
  border-width: 0;
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: ProximaRegular;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  opacity: 0;
  outline: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  visibility: hidden;
}

input#mailSubscription.checkbox-2Bf3k:-webkit-autofill {
  background-color: transparent;
  transition: background-color 5000s ease-in-out;
}

input#mailSubscription.checkbox-2Bf3k:-webkit-autofill:focus {
  background-color: transparent;
  transition: background-color 5000s ease-in-out;
}

input#mailSubscription.checkbox-2Bf3k:-webkit-autofill:hover {
  background-color: transparent;
  transition: background-color 5000s ease-in-out;
}

label.label-3sMBI {
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: block;
  font-family: ProximaRegular;
  font-size: 14px;
  line-height: 20px;
  padding-left: 36px;
  position: relative;
}

label.label-3sMBI:before {
  background-color: #2153cc;
  border: 2px solid #2153cc;
  border-radius: 4px;
  content: "";
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 16px;
}

label.label-3sMBI:after {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  content: "";
  height: 4px;
  left: 5px;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  transition: all 0.3s;
  width: 10px;
}

label.label-3sMBI:hover:before {
  border-color: #2153cc;
}

input#termsConfirmed.checkbox-2Bf3k {
  border-width: 0;
  box-sizing: border-box;
  color: #000;
  cursor: default;
  font-family: ProximaRegular;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  opacity: 0;
  outline: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  visibility: hidden;
}

input#termsConfirmed.checkbox-2Bf3k:-webkit-autofill {
  background-color: transparent;
  transition: background-color 5000s ease-in-out;
}

input#termsConfirmed.checkbox-2Bf3k:-webkit-autofill:focus {
  background-color: transparent;
  transition: background-color 5000s ease-in-out;
}

input#termsConfirmed.checkbox-2Bf3k:-webkit-autofill:hover {
  background-color: transparent;
  transition: background-color 5000s ease-in-out;
}

a.typography-body-m.termsLink-1zo2Z {
  background-color: transparent;
  box-sizing: border-box;
  color: #2153cc;
  cursor: pointer;
  font-family: ProximaRegular;
  font-size: 14px;
  line-height: 20px;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
}

a.typography-body-m.termsLink-1zo2Z:active {
  outline: 0;
}

a.typography-body-m.termsLink-1zo2Z:hover {
  color: #0f3cb4;
  outline: 0;
}

button.typography-body-m.btn-sonic-3Vcf4.button-r6MJm {
  appearance: button;
  background-color: #2153cc;
  background-position: 0 0;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #f5eee7;
  cursor: pointer;
  font-family: ProximaRegular;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0;
  text-align: center;
  text-transform: none;
  width: 100%;
}

button.typography-body-m.btn-sonic-3Vcf4.button-r6MJm:hover {
  background-color: #0f3cb4;
}

@media (min-width: 1280px) {
  button.typography-body-m.btn-sonic-3Vcf4.button-r6MJm {
    font-size: 16px;
    height: 48px;
    line-height: 24px;
  }
}

div.buttonInner-Wkus0 {
  align-items: center;
  box-sizing: border-box;
  color: #f5eee7;
  cursor: pointer;
  display: flex;
  font-family: ProximaRegular;
  font-size: 14px;
  justify-content: center;
  line-height: 20px;
  pointer-events: none;
  text-align: center;
}

div.formWrapper-1mpvn div.buttonInner-Wkus0 span {
  box-sizing: border-box;
  color: #f5eee7;
  cursor: pointer;
  font-family: ProximaRegular;
  font-size: 14px;
  line-height: 20px;
  pointer-events: none;
  text-align: center;
}

div.terms-3C_Fo {
  box-sizing: border-box;
  color: #000;
  font-family: ProximaRegular, sans-serif;
  line-height: 18.4px;
  margin-top: 16px;
  text-align: center;
}

@media screen and (min-width: 720px) {
  div.terms-3C_Fo {
    margin-top: 13px;
    padding: 10px 0;
  }
}

span.typography-body-m {
  box-sizing: border-box;
  color: #000;
  font-family: ProximaRegular;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
