div.slide-bar {
  /* background-color: rgb(204, 222, 230); */
  /* background-color: rgba(165, 202, 195, 0.671); */
  line-height: 10px;
  position: fixed;
 margin-top:135px;
  text-align: left;
  z-index: 999;
}

